<section class="full-container">
  <div class="card-container">
    <div class="card shadow p-4 border-success border border-3">
      <h3 class="text-success">Delivery App</h3>
      
      <div class="input-group my-2">
        <span class="input-group-text bg-success text-white">
          <i class="bi bi-person-fill"></i>
        </span>
        <input type="text" class="form-control" placeholder="Enter Your Name">
      </div>

      <div class="input-group my-2">
        <span class="input-group-text bg-success text-white">
          <i class="bi bi-telephone-fill"></i>
        </span>
        <input type="text" class="form-control" placeholder="Enter Your Phone Number">
      </div>

      <div class="input-group my-2">
        <span class="input-group-text bg-success text-white">
          <i class="bi bi-geo-alt-fill"></i>
        </span>
        <input type="text" class="form-control" placeholder="Input Your Address">
      </div>

    </div>
  </div>

  <div class="list-container">

  </div>
</section>
