.full-container {
     width: 100%;
     height: 100vh;
}

.card-container {
     width: 100%;
     height: 40%;
     background-color: aqua;
}

.list-container {
     width: 100%;
     height: 60%;
     background-color: antiquewhite;
}